:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --darkgrey: hsl(0, 0%, 12%);
  --offblack: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;

  background-color: var(--offblack);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.container {
  background-color: var(--darkgrey);
  min-width: 400px;
  height: auto;
  border-radius: 1rem;
  text-align: center;
}

.container img {
  width: 5.5rem;
  height: auto;
  border-radius: 50%;
  margin: 1.8rem;
}

h1 {
  color: var(--white);
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

h3 {
  color: var(--green);
  font-weight: 600;
  font-size: 0.925rem;
  padding-bottom: 2rem;
}

p {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.btn {
  width: 80%;
  height: auto;
  padding: 0.875rem 0.5rem;
  background-color: var(--grey);
  margin: 1rem 2.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-weight: 700;
}

.btn:last-child {
  margin-bottom: 2.5rem;
}

.btn:hover {
  background-color: var(--green);
  color: var(--grey);
  cursor: pointer;
}
